<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)='clickButton()'>Click This Button</button>
  <button ion-button (click)='movePageOne()'>Go To First Page</button>
</ion-content>
